@import "../_vars.css";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-weight: bold;
}

header{
    background-image: url("../../assets/images/bg-header-desktop.svg");
    background-color: var(--DesaturatedDarkCyan);
    width: 100vw;
    height: 100px;
}

main{
    /* background-color: var(--LightGrayishCyan);  */
    background-color: var(--LightGrayishCyan);
    width: 100vw;
    height: 89.3vh; /*maybe change later*/
    display: flex;
        justify-content: center;
        align-items:center;
}

.filterContainer{
    background-color: white;
    position: absolute;
    top: 72px;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    display: flex;
        justify-content: space-between;
        align-items: center;
    box-shadow: var(--DarkGrayishCyan) 1.95px 1.95px 2.6px;
}
.filterItemContainer{
    display: flex;
        justify-content: flex-start;
    gap:10px;
}

.filterItem {
    
    border-radius: 5px;
    display: flex;
        justify-content: space-between;
    padding: 10px;
    width: 90px;
}
.item{
    padding :10px;
    background-color: var(--LightGrayishCyan);
    color: var(--DesaturatedDarkCyan);
    font-weight: bold;
    
}

.removeItem{
    background-color:var( --DesaturatedDarkCyan);
    width: 153px;
    height: auto;
    padding: 10px;
    color: white;
    font-size: 1rem;
}



