@import "../_vars.css";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-weight: bold;
}

header{
    background-image: url("../../assets/images/bg-header-desktop.svg");
    background-color: var(--DesaturatedDarkCyan);
    width: 100vw;
    height: 100px;
}

main{
    /* background-color: var(--LightGrayishCyan);  */
    background-color: gray;
    width: 100vw;
    height: 89.3vh; /*maybe change later*/
    display: flex;
        justify-content: center;
        align-items:center;
    

}

