section{
    /* position: absolute; */
    /* background-color: blue;  */
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}

@media (max-width:760px ) {
    section{
        /* position: absolute; */
        /* background-color: blue;  */
        width: 80%;
        height: 80%;
        display: grid;
        gap: 20px;
       
    }
    
    
}
